
.bgimg {
    background-image: url(City.jpg);
    background-size:100% 110%;
    width :100%;
    height:100%;
}
.menu {
    width :100%;
    height :100px;
    background-color:rgba(0,0,0,0.5);
}
.leftmenu{
    width:25%;
    height:100px;
    float:left; 
}
.leftmenu h4{
    padding-left:70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family:'montserrat',sans-serif;
}
 .rightmenu {
    width: 75%;
    height:100px;
    float:right;
}
.rightmenu ul{
    margin-left :500px;
}
.rightmenu ul li{
    display: inline-block;
    list-style:none;
    font-size:15px;
    color:white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
} 
#firstclass {
    color: orange;
}
.rightmenu ul li:hover {
    color:orange;
}
.text{
    width:100%;
    margin-top:185px;
    text-align:center;
}
.text h4 {
    font-size:14px;
    font-weight:bold;
    font-family:'open sans',sans-serif;
}
.text h1 {
    margin:14px 0px;
    font-size: 60px;
    font-weight:700px;
    font-family:'mont serrat',sans-serif;
    color:white;
}
#btn1{
    background-color: white;
    border:none;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    width:150px;
    margin-top:25px;
    border:3px solid white;
}
#btn2 {
    background-color: transparent;
    font-weight:bold;
    line-height:40px;
    border: 3px solid white;
    width:150px;
}